div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 My class
    p.lead Kalynivka secondary school #2
    //img(src='assets/images/school.png', alt='school')

.container
  .row
    .col-lg-12
      p Search:
      input(ng-model="query")
      p Sort by:
      select(ng-model="orderProp")
        option(value="name") Name
        option(value="birthday") Birthday
  .row
    .col-lg-12
      h1.page-header Students:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='student in students | filter:query | orderBy:orderProp')
        li
          a(href='data/students/{{student.id}}')
            img(ng-src='{{student.imageUrl}}', width='200')
            p {{student.name}}
            p {{student.birthday | date}}

div(ng-include='"components/footer/footer.html"')